[submodule "src/hmi"]
	path = src/hmi
	url = git@github.com:lexvyshnevskyy/DLT_hmi.git
	branch = main

[submodule "src/database"]
	path = src/database
	url = git@github.com:lexvyshnevskyy/DLT_ads1256.git
	branch = main

[submodule "src/measure_device"]
	path = src/measure_device
	url = git@github.com:lexvyshnevskyy/DLT_measure_device.git
	branch = main

[submodule "src/database"]
	path = src/database
	url = git@github.com:lexvyshnevskyy/DLT_database.git
	branch = main

[submodule "src/core"]
	path = src/core
	url = git@github.com:lexvyshnevskyy/DLT_core.git
	branch = main

[submodule "src/ltm2985"]
	path = src/ltm2985_uart
	url = git@github.com:lexvyshnevskyy/DLT_ltm2985.git
	branch = main